:root {
    --mainBlue: #40ACF1;
    --mainBlack: #292f36;
    --mainGrey: rgb(216, 214, 214);
    --mainYellow: #e3b505;
    --mainWhite: #FFFFFF;
    --mainLightYellow: #dbc8aa;
    --mainLightGray: #f0f0f0;
    --mainCerem: #b69b7f;
    --mainMagenta: #713bdb;
    --mainGreen: #27debf;
}

@font-face {
    font-family: iran;
    src: url(../Font/IRANSANSWEB.TTF)
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url(../font/IRANSANSWEB.ttf) format("truetype");
}

body {
    font-family: IRANSans, fantasy !important;
    direction: rtl;
    font-size: 12px;
    color: var(--mainBlack);
    background: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-content{
    padding-left: 10px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background:var(--mainLightYellow);
}

::-webkit-scrollbar-thumb {
    background: var(--mainLightYellow);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--mainLightYellow);
}

.svg-o{
    opacity: 85%;
}

.btn-magenta {
    background: transparent;
    color: var(--mainLightYellow);
    border: 1px solid var(--mainLightYellow);
}

.btn-magenta:hover {
    background: var(--mainLightYellow);
    color: white;
}

.btn-magenta:focus {
    outline: none !important;
    box-shadow: none !important;
    background: transparent;
    border: 1px solid #af82ff;
    color: #af82ff;
}

.bg-white {
    background: white;
}

.link-table {
    color: var(--mainMagenta);
    text-decoration: underline !important;
}

.link-table:hover{
    color: var(--mainBlue);
}

.rounded-25 {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    height: 100%;
}

.w-50-c{
    width: 50%;
}

.input-magenta {
    border: 1px solid var(--mainLightYellow);
    color: var(--mainLightYellow);
}

.input-magenta::placeholder{
    color: var(--mainLightYellow);
}

.input-magenta:hover{
    background: #f2ebfb;
}

.input-magenta:focus{
    box-shadow: none !important;
    border: 1px solid var(--mainMagenta);
    outline: none !important;
    background: #f2ebfb;
    color: var(--mainMagenta);
}
.container-fluid-c {
    padding-right: 0;
    padding-left: 30px;
}

.h-full{
    min-height: 100vh;
}

a {
    text-decoration: none !important;
    color: var(--mainBlack);
}

a:hover{
    color: var(--mainBlue);
}

.mobile-nav{
    background: white;
}

.mobile-div {
    position: fixed;
    display: block;
    width: 70%;
    height: 100%;
    top: 0;
    right: -10%;
    background: white;
    color: black;
    z-index: 999;
    font-size: 1.2rem;
    padding-right: 30px;
}

.mobile-div a{
    line-height: 50px;
}

.mobile-link {
    display: block;
    padding-right: 2rem;
}

.mobile-none{
    display: none;
    z-index: -999;
}

.mt-50{
    margin-top: 100px;
}

.overlay {
    display: block;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

#mainNav.nav{
    background: white;
}

.nav-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid var(--mainLightYellow);
}

.navbar-brand {
    color: var(--mainBlack) !important;
    width: 50px;
    height: 30px;
}

.navbar-brand:hover{
    color: var(--mainLightYellow) !important;
}

.nav-link{
    color: var(--mainLightYellow) !important;
    font-size: 1rem;
}

.dropdown-item:hover{
    color: var(--mainMagenta) !important;
}

.header-btn {
    background: transparent;
    border: 2px solid var(--mainMagenta);
    color: var(--mainMagenta);
}

.header-btn:hover{
    background: #f2ebfb;
}

.header-btn:focus {
    box-shadow: none !important;
    border: 2px solid var(--mainMagenta);
    outline: none !important;
    background: #f2ebfb;
    color: var(--mainMagenta);
}

.sidebar {
    background: white;
    font-size: 1.2rem;
    line-height: 50px;
    min-height: 100%;
}

.sidebar-item {
    border-left: 2px solid transparent;
    padding-right: 15px;
}

.collapse a{
    padding-right: 20px;
}

.sidebar-link:hover{
    color: var(--mainMagenta);
}

.sidebar-item-active {
    border-right: 2px solid var(--mainLightYellow);
}

.sidebar-link-active{
    color: var(--mainLightYellow);
}

.sidebar-sec{
    display: block;
    position: relative;
}

.section-h {
    position: relative;
    display: block;
    background: white;
    min-height: 100vh;
}

.section-h:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #f0f0f0;
    border-radius: 34px;
    box-shadow: inset 1px 1px 10px #919191;
}

.support-icon {
    background: #f2ebfb;
    color: #713bdb;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 50%;
}

.domain-icon{
    background: #eef9ff;
    color: #4bb7ff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 50%;
}

.service-icon {
    background: #fef3ed;
    color: #ff8b58;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 50%;
}

.account-icon {
    background: #ffeff2;
    color: #fc5283;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 50%;
}

.domain-input{
    border: 1px solid #989898;
}

.domain-input:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid var(--mainLightYellow);
}

td{
    font-size: 1rem;
    white-space: nowrap!important;
}

.input-magenta-c {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--mainLightYellow);
    border-radius: 0;
    padding-right: 30px;
    color: var(--mainLightYellow);
}

.input-magenta-c::placeholder{
    color: var(--mainLightYellow);
}

.input-magenta-c:hover, .input-magenta-c:hover.input-magenta-c::placeholder {
    border-color: #d0b3ff;
    color: #d0b3ff;
}

.input-magenta-c:focus, .input-magenta-c:focus.input-magenta-c::placeholder {
    box-shadow: none !important;
    outline: none !important;
    border-color: var(--mainMagenta);
    color: var(--mainMagenta);
}

.textarea-magenta{
    border: 2px solid var(--mainLightYellow);
    resize: none !important;
    color: var(--mainLightYellow);
}

.textarea-magenta::placeholder{
    color: var(--mainLightYellow);
}

.textarea-magenta:hover, .textarea-magenta:hover.textarea-magenta::placeholder{
    border-color: #d0b3ff;
    color: #d0b3ff;
}

.textarea-magenta:focus, .textarea-magenta:focus.textarea-magenta::placeholder {
    box-shadow: none !important;
    outline: none !important;
    border-color: var(--mainMagenta);
    color: var(--mainMagenta)
}

.btn-magenta-2 {
    border: 2px solid var(--mainLightYellow);
    background: transparent;
    color: var(--mainLightYellow);
}

.btn-magenta-2:hover {
    background: transparent;
    border: 2px solid #d0b3ff;
    color: #d0b3ff;
}

.btn-magenta-2:focus {
    background: transparent;
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--mainMagenta);
    color: var(--mainMagenta);
}

.w-25-c{
    width: 25%;
}

footer{
    background: white;
}

/* for under ipad pro*/
@media (max-width: 990px){
    .sidebar-sec{
        display: none;
    }

    .section-h:before{
        border-radius: 0;
    }

    .main-content{
        padding: 0;
    }

    .container-fluid-c{
        padding-left: 0;
        padding-right: 15px;
    }
}

/* for under ipad*/
@media (max-width: 766px){
    #mainNav.nav{
        display: none !important;
    }

    .w-50-c{
        width: 100%;
    }

    .w-25-c{
        width: 100%;
    }
}