{% extends '_mainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block main_content %}
    <!--------------------------- Items --------------------------------------------->
    <section class="mb-5 mt-2 perfume-page">
        <div class="container">
            <!--------------------------- Links --------------------------------------------->
            <section>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home_page' %}" class="breadcrumb-link">صفحه اصلی</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'Product:product_list' %}" class="breadcrumb-link">عطر ها</a>
                    </li>
                </ul>
            </section>
            <div class="row">
                <!--------------------------- Fliter --------------------------------------------->
                <div class="col-12 col-md-4 mx-auto">
                    <div class="img-upper text-center">
                        <img src="{% static 'ViewDist/IMG/title-before.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="p-2 main-border shadow-sm">
                        <!--------------------------- Search --------------------------------------------->
                        <div>
                            <button class="btn btn-block perfume-btn" data-toggle="collapse" data-target="#search-col"
                                    aria-controls="search-col" aria-expanded="true">جستجو
                            </button>
                            <div class="collapse show py-2 px-3" id="search-col">
                                <form action="{% url 'Product:product_search' %}" method="get">
                                    <input type="search" class="form-inputs px-3 py-1" name="product_page_search" placeholder="جستجو ...">
                                    <button class="btn btn-block mt-2 register-btn">جستجو</button>
                                </form>
                            </div>
                        </div>
                        <!--------------------------- Price --------------------------------------------->
                        {% comment %}<div class="border-top">
                            <button class="btn btn-block perfume-btn" data-toggle="collapse" href="#price-col"
                                    role="button" aria-expanded="false" aria-controls="price-col">محدوده قیمت
                            </button>
                            <div class="collapse py-2" id="price-col">
                                <input type="range" min="1" max="10000000" class="perfume-range my-2"
                                       id="perfume-range">
                                <p>از : 0 تومان</p>
                                <p>تا : <span id="perfume-range-show">10000000</span> تومان </p>
                            </div>
                        </div>{% endcomment %}
                        <!--------------------------- Brands --------------------------------------------->
                        <div class="border-top">
                            <button class="btn btn-block perfume-btn" data-toggle="collapse" data-target="#brands-col"
                                    aria-controls="brands-col" aria-expanded="false">برند ها
                            </button>
                            <!--------------------------- Brands Item --------------------------------------------->
                            <div class="collapse perfume-list" id="brands-col">
                                {% render_partial 'Product:product_brand_filter' %}
                            </div>
                        </div>
                        <!--------------------------- Category --------------------------------------------->
                        <div class="border-top">
                            <button class="btn btn-block perfume-btn" data-toggle="collapse" data-target="#seller-col"
                                    aria-controls="seller-col" aria-expanded="false">دسته بندی ها
                            </button>
                            <!--------------------------- Category Item --------------------------------------------->
                            <div class="collapse perfume-list p-3" id="seller-col">
                                <div>
                                    {% render_partial 'Product:product_category_filter' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------------- Items --------------------------------------------->
                <div class="col-12 col-md-8 mx-auto mt-4 mt-md-0">
                    <div class="img-upper text-center">
                        <img src="{% static 'ViewDist/IMG/title-before.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="main-border shadow-sm">
                        <!--------------------------- Items --------------------------------------------->
                        <div class="row px-2 px-lg-5 py-3">
                            {% for object in objects %}
                                {% include 'Product/component/List_Item.html' with object=object %}
                            {% endfor %}
                        </div>
                        <!--------------------------- Pagination --------------------------------------------->
                        {% include 'Product/component/pagination.html' with object=object %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
