<div class="col-12 col-md-6 mt-3">
    <div class="item card">
        <!--------------------------- Image --------------------------------------------->
        <img src="{{ object.image.url }}"
             class="card-img-top w-auto" alt="First">
        <div class="card-body">
            <!--------------------------- Title --------------------------------------------->
            <div class="d-flex justify-content-between">
                <p class="star-parent"> 4.5 <span>
                                                <i class="las la-star"></i>
                                            </span></p>
                <p class="font-weight-bold text-center">
                    {{ object.title | title }}
                </p>
            </div>
            <!--------------------------- Price --------------------------------------------->
            <p class="text-center perfume-price">
                {{ object.price }} تومان
            </p>
            <!--------------------------- Button --------------------------------------------->
            <a href="{% url 'Product:product_detail' pk=object.id slug=object.slug %}" class="btn orange-btn btn-block">بیشتر</a>
        </div>
    </div>
</div>